<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" type="text/css" />
    <link th:href="@{/css/main.css}" href="/static/css/main.css" rel="stylesheet" type="text/css" />
    <title>Home | Treatment Center Connect</title>
</head>
<body class="bg">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img th:src="@{/images/logo10.png}" />
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a>Home</a></li>
                <li><a th:href="@{/modify}" href="/modify">Modify Treatment Centers</a></li>
                <li><a th:href="@{/add}" href="/add">Add Treatment Center</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/}" href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>

</nav>

<div class="container">
    <div class="jumbotron bg-stressed text-center">
        <h1 class="white">Need Help?</h1>
    </div>
    <div class="row">
        <div class="col-sm-4 left"/>
        <div class="col-sm-4 middle">
            <p class="lead">Search for nearby treatment centers.</p>
            <form th:action="@{/treatment/zip}">
                <div class="form-group">
                    <input name="zip" autofocus="" type="text" class="form-control" id="search-zip" placeholder="Search by Zip"/>
                    <button class="btn btn-primary" id="submit-search">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <label class="mr-sm-2" for="inlineFormCustomSelect">Search Radius</label>
                <select name="radius" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                    <option value="1">1 mile</option>
                    <option value="2">2 miles</option>
                    <option value="3">3 miles</option>
                    <option value="4">4 miles</option>
                    <option value="5">5 miles</option>
                    <option value="6">6 miles</option>
                    <option value="7">7 miles</option>
                    <option value="8">8 miles</option>
                    <option value="9">9 miles</option>
                    <option value="10">10 miles</option>
                    <option value="11">11 miles</option>
                    <option value="12">12 miles</option>
                    <option value="13">13 miles</option>
                    <option value="14">14 miles</option>
                    <option value="15">15 miles</option>
                </select>
            </form>
        </div>
        <div class="col-sm-4 right"/>
    </div>
</div>
<footer class="container-fluid">
    <p>&copy; 2018</p>
</footer>



<!--<script src="/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>-->

</body>
</html>